<div class="modal-header">
    <h4 class="modal-title pull-left">Editar tarefa</h4>
    <button type="button" class="btn btn-danger" aria-label="Close"  (click)="close()">
       ×
    </button>
 </div>
 <div class="modal-body dialog">
    <form [formGroup]="todoEdit">
        <div class="mb-1">
            <input type="text" 
            class="form-control" 
            placeholder="Digite o título" 
            tabindex="1" 
            formControlName="nome"
            [value]="todo.nome"
            [ngClass]="{ 'is-invalid': submitted && f['nome'].errors }"
            />
            <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                <div *ngIf="f['nome'].errors['required']">Um nome deve ser definido</div>
            </div>
        </div>

        <div class="mb-1">
            <select type="select"
            class="form-select" 
            tabindex="2" 
            formControlName="tipo"
            >

            <option [value]="categoria.tipo" *ngFor="let categoria of categorias">{{categoria.tipo}}</option>

            </select>
            
        </div>

        <div class="mb-1">
            <select type="select"
            class="form-select" 
            tabindex="3" 
            formControlName="hora"
            [ngClass]="{ 'is-invalid': submitted && f['hora'].errors }"
            >

            <option value="">Selecione uma categoria</option>
            <option [value]="hora.hora" *ngFor="let hora of horas">{{hora.hora}}</option>

            </select>
            <div *ngIf="submitted && f['hora'].errors" class="invalid-feedback">
                <div *ngIf="f['hora'].errors['required']">Uma hora deve ser definida</div>
            </div>
        </div>
        
    </form>
 </div>
 <div class="modal-footer">
    <button class="btn btn-primary" (click)="confirm()">Atualizar</button>
    <button type="button" class="btn btn-default" (click)="close()">Close</button>
 </div>