.conteudo-todo {
  width: 60%;
  margin: 0 auto;
}

.footer-todo {
  margin-top: 1.8rem;
}

.app-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 4rem;
  margin-bottom: 3rem;
  background-color: var(--navbar-bg-color);
  box-shadow: 0 0 10px #000;
}

.navbar-brand a {
  font-size: 1.8rem;
}

.app-nav {
  font-size: 1.4rem;
  display: flex;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
  color: var(--navbar-text-color);
}

.app-nav a:hover {
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
}

img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
