.todo {
    box-shadow: 0 0 4px #121214;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

.completed {
    text-decoration: line-through;
    background-color: #ddd;
}
