<div class="list-group">
  <div
    class="item-da-lista"
    *ngFor="
      let todo of todosHistorico 
        | filterData
        | paginate
          : {
              itemsPerPage: 8,
              currentPage: pagination,
            };
      let id = index
    "
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ todo.nome }}</h5>
      <strong
        >{{ todo.horaDeAdicaoAoHistorico }} -
        {{ todo.diaDeAdicaoAoHistorico }}</strong
      >
    </div>
    <p class="mb-1">{{ todo.tipo }}</p>
    <p class="mb-1">{{ todo.hora }}</p>
    <small
      [ngClass]="{
        adicionado: todo.metodoDeAdicaoAoHistorico === 'Adicionado',
        excluido: todo.metodoDeAdicaoAoHistorico === 'Excluído',
        alterado: todo.metodoDeAdicaoAoHistorico === 'Status alterado'
      }"
      >{{ todo.metodoDeAdicaoAoHistorico }}
    </small>
  </div>
</div>
<br />
<pagination-controls
  (pageChange)="renderPage($event)"
  class="d-flex justify-content-center"
></pagination-controls>
