<table class="shadow table table-hover mt-1">
  <thead>
    <tr class="">
      <th>Nome</th>
      <th>Tipo</th>
      <th>Hora</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr class="" *ngFor="let todo of todos | filterOrdem : filterOrdem">
      <td>{{ todo.nome }}</td>
      <td>{{ todo.tipo }}</td>
      <td>{{ todo.hora }}</td>
      <td>{{ todo.status }}</td>
      <td>
        <div class="botoes">
          <button class="btn btn-primary" (click)="openEditModal(todo)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-danger" (click)="openRemoveModal(todo)">
            <i class="bi bi-trash3"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-mensagem></app-mensagem>
