h1 {
    text-align: center;
}


.conteudo {
    width: 40%;
    margin: 0 auto;
}

.botoes {
    display: flex;
    gap: .4rem;
}

.invalidFeedback {
    font-size: 80%;
    color: #dc3545;
    width: 103px;
    text-align: left;
    position: absolute;
    margin-left: -280px;
    margin-top: 8px;
  }